<div class="nav-side-menu">
    <div class="profile">
        <div class="profile-pic-container">
            <img class = "profile-pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle-name">
            <p>Hyun Kim</p>
        </div>
        <div class="profile-usertitle-job">
            <p>Hi, I am a student currently studying to be a full stack developer. I enjoy creating things so looking forward to make your products with my own twist.</p>
        </div>
        <div class="social-media">
            <div class="icons">
              <a href="http://www.facebook.com"><img src="<%= asset_path 'facebook.svg'%>"></a>
            </div>
            <div class="icons">
              <a href="http://www.github.com"><img src="<%= asset_path 'github.svg'%>"></a>
            </div>
            <div class="icons">
              <a href="http://www.twitter.com"><img src="<%= asset_path 'twitter.svg'%>"></a>
            </div>
            <div class="icons">
              <a href="http://www.google.com"><img src="<%= asset_path 'googleplus.svg'%>"></a>
            </div>
        </div>
    </div>

    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

              <!-- here --> <li  data-toggle="<%= disable(root_path) %>" data-target="#products" class="collapsed <%= is_active?(root_path) %>"> <!--  HERE -->
                  <a> <i class="fa fa-laptop fa-lg"></i> <%= link_to 'Work', root_path %> <span class="arrow"></span> </a>
                </li>

                  <!-- here --> <ul class="sub-menu <%= open_menu(root_path) %>" id="products">
                    <li><a href="#portfolio">Latest</a></li> <!--- use active --->
                    <li><a href="#webdesign">Web Design</a></li>
                </ul>


                <li data-toggle="<%= disable(pages_about_path) %>e" data-target="#service" class="collapsed <%= is_active?(pages_about_path) %>">
                  <a> <i class="fa fa-money fa-lg"></i> <%= link_to 'Skill', pages_about_path %> <span class="arrow"></span> </a>
                </li>

                <ul class="sub-menu <%= open_menu(pages_about_path) %>" id="service">
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#experience">Experience/Testimonial</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed <%= is_active?(pages_contact_path) %>">
                  <a> <i class="fa fa-users fa-lg"></i> <%= link_to 'Contact', pages_contact_path %> </a>
                </li>
            </ul>
     </div>
</div>
