
<section class="skills">
  <div class="grid-container">

    <div class="skill-grid g500">
      <img src="<%= asset_path 'css.png' %>" alt="">
      <div class="overlay">
          <div class="text">Experienced skill level with CSS</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'photoshop.png' %>" alt="">
      <div class="overlay">
          <div class="text">Intermediate skill level with PS</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'html.png' %>" alt="">
      <div class="overlay">
          <div class="text">Experienced skill level with HTML</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'javascript.png' %>" alt="">
      <div class="overlay">
          <div class="text">Intermediate level with JS</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'ruby.png' %>" alt="">
      <div class="overlay">
          <div class="text">Experienced skill level with ruby</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'ai.png' %>" alt="">
      <div class="overlay">
          <div class="text">Experienced skill level with AI</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'python.png' %>" alt="">
      <div class="overlay">
          <div class="text">Beginner level</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'java.png' %>" alt="">
      <div class="overlay">
          <div class="text">Beginner level</div>
      </div>
    </div>

    <div class="skill-grid g500">
      <img src="<%= asset_path 'swift.png' %>" alt="">
      <div class="overlay">
          <div class="text">Beginner level</div>
      </div>
    </div>
  </div>
</section>


<section class="experience">
  <div class="experience-container">

    <div class="experience-rect">
      <img src="<%= asset_path 'mockup1.png' %>" alt="">
      <div class="testimonial green">
        <blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</blockquote>
      </div>
    </div>

    <div class="experience-rect">
      <img src="<%= asset_path 'mockup2.png' %>" alt="">
      <div class="testimonial green">
        <blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</blockquote>
      </div>
    </div>

    <div class="experience-rect">
      <img src="<%= asset_path 'mockup3.png' %>" alt="">
      <div class="testimonial green">
        <blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</blockquote>
      </div>
    </div>

  </div>
</section>
